<div class="container-fluid">    
    <div class="col-md-2 rssfeed-sidebar">
        <div class="row">
            <h3>Roger Ribes</h3>
        </div>
        <div class="row">
            <h4 class="header">Lista Canales</h4>
            <ul>
                <li ng-cloak="" ng-repeat="feeds in rssCtrl.feedsLst">{{feeds.feedName}}</li>
            </ul>
            <button class="btn btn-primary btn-block pull-bottom" ng-click="rssCtrl.addFeeder()"><i class="glyphicon glyphicon-plus"></i>Add</button>
        </div>
    </div>
    <div class="col-md-10 pull-right">
        <div ng-cloak ng-repeat=" entry in rssCtrl.data | orderBy: '-publishedDate'">
    <rss-feed-element></rss-feed-element>
</div>        
    </div>
</div>

