<div class="container-fluid">    
    <div class="col-md-2 rssfeed-sidebar">
        <div class="row">
            <h3>Roger Ribes</h3>
        </div>
        <div class="row">
            <h4 class="header">Lista Canales</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="feeds in rssCtrl.feedsLst" >
                    <label ng-class="feeds.feedActive ? 'none' : 'text-muted'" for="chkActive{{feeds.id}}">{{feeds.feedName}}</label>
                    <i class="glyphicon glyphicon-pencil pull-right icon"
                        ng-click="rssCtrl.modFeeder(feeds)"></i>
                    <i class="glyphicon  pull-right icon" 
                        ng-class=" feeds.feedActive ? 'glyphicon-eye-open' : 'glyphicon-eye-close'"
                        ng-click="rssCtrl.checkActive(feeds)" >
                    </i>
                </li>
            </ul>
            <button class="btn btn-primary btn-block pull-bottom" ng-click="rssCtrl.addFeeder()"><i class="glyphicon glyphicon-plus"></i> Add</button>
        </div>
    </div>
    <div class="col-md-10 pull-right">
        <div ng-cloak ng-repeat=" entry in rssCtrl.data | orderBy: '-publishedDate'">
    <rss-feed-element></rss-feed-element>
</div>        
    </div>
</div>

