<div class="text-center" ng-show="empty">
	<h1>YOUR CART IS EMPTY!! HURRY UP!! PURCHASE!! OR I KILL YOU!! :@</h1>
	<br><br>
</div>
<div >
	<div class="text-center" ng-hide="cart.$removing">
		<table class="table table-hover table-condensed">
				<tr>
					<th><b>Name</b></th>
					<th><b>Price</b></th>
				</tr>
	    		<tr ng-show="!empty" ng-repeat="cart in cart.list track by $index">
	    			<th>{{cart.name}}</th>
	    			<th>{{cart.price | currency}}</th>
	    		</tr>
	    		<tr>
	    			<th></th>
	    			<th></th>
	    		</tr>
	    		<tr>
	    			<th><b><i>Total</i></b></th>
	    			<th><b><i>{{cart.totalPrice | currency}}</i></b></th>
	    		</tr>
	    </table>
	<a ng-show="!empty" angular-ripple class="btn btn-action">Purchase Cart!</a>
	<a ng-show="!empty" angular-ripple class="btn btn-danger" ng-click="confirmCart()">Remove Cart!</a>
	</div>
</div>
<br><br><br>