<div class="text-center" ng-show="empty">
	<p>YOUR CART IS EMPTY!! HURRY UP!! PURCHASE A PRODUCT!! OR I KILL YOU!! :@</p>
	<br><br><br><br><br>
</div>
<div ng-show="!empty">
	<div class="text-center" ng-hide="cart.$removing">
		<table class="table table-hover table-condensed">
				<tr>
					<th><b>Name</b></th>
					<th><b>Price</b></th>
				</tr>
	    		<tr ng-repeat="cart in cart.list track by $index">
	    			<th>{{cart.name}}</th>
	    			<th>{{cart.price}}</th>
	    		</tr>
	    		<tr>
	    			<th></th>
	    			<th></th>
	    		</tr>
	    		<tr>
	    			<th><b><i>Total</i></b></th>
	    			<th><b>TOTAL PRICE</b></th>
	    		</tr>
	    </table>
	<a angular-ripple class="btn btn-action">Purchase Cart!</a>
	<a angular-ripple class="btn btn-danger" ng-click="confirmCart(removeCart())">Remove Cart!</a>
	</div>
</div>