<div class="text-center" ng-show="empty">
	<p>YOUR CART IS EMPTY!! HURRY UP!! PURCHASE A PRODUCT!! OR I KILL YOU!! :@</p>
	<br><br><br><br><br>
</div>
<div ng-show="!empty">
	<a angular-ripple class="btn btn-danger" ng-click="removeCart()">Remove Cart</a>
	<div class="text-center">
	  	<div ng-repeat="cart in cart.list track by $index">
	    	<table class="table table-hover table-condensed">
	    		<tr>
	    			<th>{{cart.name}}</th>
	    			<th>{{cart.price}}</th>
	    		</tr>
	    	</table>
	    </div>
	</div>
</div>